<div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
  <%= link_to('Home', matches_path, class: %w(ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext), role: :button) %>


  <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">FIFA WM 2014</h1>
  <%= link_to('Navigation', matches_path, class: %w(ui-btn-right ui-btn-corner-all ui-btn ui-icon-grid ui-btn-icon-notext), role: :button) %>
</div>