<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
  <%= link_to('Home', '/', class: %w(ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext), role: :button) %>

  <h1>FIFA WM 2014</h1>
  <a href="#filter-form" data-icon="bars" data-iconpos="notext">Filter</a>

</div>