<div data-role="page" id="matchday-page" class="matchday-page" data-dom-cache="true">
  <div class="swatch">
    <%= render 'shared/header' %>

    <div class="ui-content ui-page-theme-a page" data-form="ui-page-theme-a" data-theme="a" role="main">

      <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all">
        <li data-role="list-divider" data-theme="a" data-swatch="a" data-form="ui-bar-a" role="heading">
          <div class="big center">Neymar</div>
        </li>
      </ul>
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Neymar_FCBarcelona.JPG/172px-Neymar_FCBarcelona.JPG" alt="Neymar" height="200"/>


    </div>
  </div>


  <!-- /content -->
</div>