<div data-role="page" id="team-xxx" data-title="team-xxx" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>
     <%= "data-next=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>>

  <%#= render 'filter' Sturm%>

  <div role="main" class="ui-content" id="main">
    <div class="big center">Neymar</div>

    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Neymar_FCBarcelona.JPG/172px-Neymar_FCBarcelona.JPG" alt="Neymar" height="200"/>


  </div>

</div>