.center {
  text-align: center;
}

.big {
  font-size: 1.5em;
}

.ultra-big {
  font-size: 3em;
  vertical-align: top;
}

a.img {
  text-decoration: none;
}

.select-value {
  display: none;
}

#main {
  padding-top: 64px;
}

a.disabled::after {
  background-image: none;
}