.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.team-name {
  display: inline-block;
  width: 34%;
  white-space: normal;
}

.team-spacer {
  width: 32%;
  display: inline-block;
}

.small {
  font-size: 0.6em;
}

.big {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

.ultra-big {
  font-size: 2.4em;
  vertical-align: text-bottom;
}

.ui-li-divider div {
  white-space: normal;
}

.footer {
  font-size: 0.6em;
  div {
    display: inline-block;
    width: 42%;
    margin: 10px
  }
}

a.img {
  text-decoration: none;
}

.select-value {
  display: none;
}

#main {
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

a.disabled::after {
  background-image: none;
}

.map {
  width: 280px;
  height: 280px;
  display: inline-block;
}