<div data-role="page" id="team-xxx" data-title="stadium-xxx" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>
     <%= "data-next=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>>

  <%#= render 'filter' %>

  <div role="main" class="ui-content" id="main">
    <div class="big center">Belo Horizonte</div>
    <div class="center">
      Kapazität: 62.160 <br/>
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Novo_mineir%C3%A3o_a%C3%A9rea.jpg/300px-Novo_mineir%C3%A3o_a%C3%A9rea.jpg" alt="Belo" height="200"/>
      <br/>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7504.773292469475!2d-43.971083!3d-19.865889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDUxJzU3LjIiUyA0M8KwNTgnMTUuOSJX!5e0!3m2!1sde!2s!4v1403107779780" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>


  </div>

</div>